/*LOGO*/
.logo {
    height: 3.25rem;
    margin-left: 3rem;
}

/*SEARCH BAR AT TOP*/
.search {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        width: 90%;
        border: none;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;
        padding: .7rem 2rem;
        margin-right: -3.25rem;
        transition: all .2s;

        &:focus {
            background-color: var(--color-grey-light-3);
            width: 100%;
            outline: none;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }

    }

    &__input:focus+&__button {
        background-color: var(--color-grey-light-3);

    }


    &__button {
        background-color: var(--color-grey-light-2);
        border: none;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }

}

/*USER NAV ON TOP RIGHT*/
.user-nav {
    display: flex;
    align-items: center;

    //To display a a full heighted bg
    align-self: stretch;

    &>* {
        padding: 0 2rem;
        cursor: pointer;

        //To display a a full heighted bg
        height: 100%;
        //To center the elements in the container
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    /*SMALL NUM INDICATOR ON USER NAV*/
    &__notification {
        font-size: 1rem;
        width: 1.75rem;
        height: 1.75rem;
        background-color: var(--color-primary-light);
        border-radius: 100%;
        padding: 5px;
        color: var(--color-grey-light-1);
        top: 1.5rem;
        right: 1.1rem;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user {}

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: .75rem;
    }

    &__user-name {}
}


/*SIDEBAR NAVIGATION ELEMENTS*/
.side-nav {

    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;

    &__item {
        position: relative;

        /*THE PINK OVERLAY ON NAV ELEMENTS*/
        &::before {
            content: "";
            position: absolute;
            background-color: var(--color-primary);
            left: 0;
            top: 0;
            width: 3px;
            height: 100%;
            transform: scaleY(0);
            transition: transform .2s,
                width .4s cubic-bezier(1, 0, 0, 1) .2s;
        }

        &:hover::before,
        &--active::before {
            transform: scaleY(1);
            width: 100%;

        }

        &:active::before {
            background-color: var(--color-primary-dark);
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }


    }

    &__link {
        position: relative;

        &:visited,
        &:link {
            padding: 1.5rem 3rem;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--color-grey-light-1);
            display: flex;
            align-items: center;
            position: relative;
            z-index: 10;
        }
    }

    &__icon {
        margin-right: 2rem;
        height: 2.75rem;
        width: 2.75rem;
        fill: currentColor;
    }
}


/*LEGAL TEXT ON SIDEBAR*/
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}

/*GALLERY ON HOTEL_VIEW*/
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

/*OVERVIEW*/
.overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);

    &__heading {
        padding: 1.5rem 3rem;
        text-transform: uppercase;
        font-size: 2.25rem;
        letter-spacing: .1rem;
        font-weight: 300;
    }

    &__rating {
        margin-right: auto;
        display: flex;

        &-icon {
            width: 1.75rem;
            height: 1.75rem;
            fill: var(--color-primary-dark);
        }
    }

    &__rating-icon,
    &__location-icon {

        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);

    }

    &__location {
        margin-right: 2rem;
        color: var(--color-primary);
        display: flex;
        align-items: center;

    }

    &__reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        color: var(--color-grey-light-1);
        align-self: stretch;
        padding: 1rem;

        &-count {
            font-size: 1.6rem;
        }

        &-avg {

            font-size: 2.25rem;
        }

    }

}

/*BUTTON*/

.btn-inline {
    border: none;
    background-color: transparent;
    color: currentColor;
    font-size: 1.6rem;
    display: inline-block;
    padding: .2rem .5rem;
    cursor: pointer;
    transition: all .2s;
    border-bottom: 1px solid currentColor;

    &:hover {
        color: var(--color-grey-dark-1);
    }

    &:focus {
        animation: pulsate 1s infinite;
        outline: none;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 2rem rgba(black, .4);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}