.container {
    background-color: var(--color-grey-light-2);
    max-width: 120rem;
    height: 50rem;
    margin: 8rem auto;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    display: flex;
}

.content {
    display: flex;
    background-color: var(--color-grey-light-1);
}

.sidebar {
    flex: 0 0 18%;
    background-color: var(--color-grey-dark-1);
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}